/* Home Page  */
body{
    border-top: 4px solid rgb(251, 255, 0);
    background-color: rgba(11, 11, 11, 0.945);
}
#head{
    background-color:rgba(40, 34, 34, 0.627);
    color: #ffffff;
    height:15%;
    display:flex;
    justify-content: space-between;
}
#ott{
    text-align: center;
    width:fit-content;
    padding-left:30px;
    padding-top: 10px;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    justify-content: flex-start;
}
.p{
    line-height: 10px;
}
.menu{
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    justify-content: center;   
}
#search{
    display:flex;
    width:fit-content;
    align-items: center;
    justify-content: center;
}
#search input{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color:transparent;
    height:30px;
    border: 6px solid;
    border-color: rgb(66, 66, 66);
    border-right: none;
}
#search button{
    background-color: yellow;
    height:30px;
    width:50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
input::placeholder{
    color:rgb(199, 192, 192);
    padding-left: 20px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
}
#description{
    text-align: center;
    color: white;
    padding-top: 3%;
    padding-bottom: 4%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 2px;
}
#description h1{
        font-size: 50px;
        font-weight: 400;
    }
.movies{
    height:fit-content;
    justify-items: center;
    margin-left: 2%;
    margin-right:3%;
    width:100%;
}
.row{
    height:40%;
    align-items: center;
    margin-left: 2%;
    box-sizing: border-box;
    margin-bottom: 0.5%;
    display:flex;
    justify-content: space-around;
}
.mrow{
    display:inline-block;
    width:14%;
    box-sizing: border-box;
    margin: 0% 1%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
.mrow img{
    height:70%;
    max-height: 80%;
    width:100%;
    border-radius:4px;
}
.mrow h3{
    font-weight:600;
    -webkit-margin-collapse: collapse;
    line-height:1px ;
    overflow: visible;
}
.year{
    border:2px solid rgba(24, 20, 20, 0.768);
    border-radius: 2px;
    width: fit-content;
    padding: 2px;
    font-size: 15px;
    background: rgb(65, 62, 62);
    color:yellow;
    font-weight: 700;
}
.link{
    text-decoration:none;
    color: white;
    display:inline-block;
    padding:15px;
}
.searchbar{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    text-align: center;
    background-color: black;
    padding-top: 40px;
    margin:4%;
    height:30%;
    border-radius: 5px;
    border:1px solid rgba(46, 40, 40, 0.919);
}
.sbox{
   display:flex;
   justify-content: center;
   height:15%;
   cursor:pointer;
}
.sbox input{
    width:40%;
    background:transparent;
    border:1px solid rgba(52, 47, 47, 0.919);
    border-right: transparent;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.sbox button{
    width:6%;
    font-size: 18px;
    background: yellow;
    border-bottom-right-radius: 30px;
    border-top-right-radius:30px;
    border:transparent;
}
#add{
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 30px;
    font-weight: 400;
}
.footer{
    background-color: rgb(50, 48, 48);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #c1aeae;
    padding-left: 50px;
    height:15%;
    font-weight: 450;
    padding-top: 2%;
    padding-right: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#i_body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    margin:0;   
}
#container{
    background:linear-gradient(to right,rgb(78, 76, 76), rgb(46, 39, 39),rgb(21, 20, 20));
    display:flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    border-radius: 15px;
    letter-spacing: 1px;
    color: rgb(233, 225, 225);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#top{
    background:linear-gradient(to right, rgb(78, 76, 76), rgb(46, 39, 39),rgb(21, 20, 20));
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    color:rgb(251, 255, 0);
    padding: 10px;
    display:inline-block;
    font-weight: 1px;
    transform:translate(280%,-100%);
    position:absolute;
}
#content{
    background: none;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
#img{
    height:80px;
}
#h2{
    font-size: 16px;
    font-weight: 380;
    line-height: 1.4;
    text-align: center;
}
#button{
    border-radius: 7px;
    background:rgb(251, 255, 0);
    width: 45%;
    height:30px;
    border:none;
    display:inline-block;
    margin-left:80px;
}
.para{
    color: rgb(211, 204, 204);
    word-spacing: 1px;
    font-size: 12px;
    text-align: center;
}
.btn{
    text-decoration: none;
}
.sp{
    font-size: 18px;
    color: white;
}
